@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic,black');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
 }

 @font-face {
  font-family: "Montserrat-black";
  src: local("Montserrat"),
   url("./assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: bold;
 }

html {
  background: #E0E0E0;
  --family: "Montserrat";
  --h1-size: 2vh;
  --text-size: 2vh;
  --color-primary: white;
  --color-secondary: black;
  --color-third:  #252428;
  --color-forth: #E0E0E0;
  --color-accent: #FF7134;
  --g-padding: 3vh;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  /* background-color: var(--color-primary); */
  text-decoration: none;
  font-family: var(--family);
  color: var(--color-secondary);
  font-weight: normal;
  /* overflow-x: hidden; */
}

*::-webkit-scrollbar {
  display: none;
}

FontAwesomeIcon:hover{
  color: var(--color-accent);
}

path:hover {color: var(--color-accent);}

h1 { 
  font-size: var(--h1-size); 
  text-decoration: none;
  font-family: var(--family);
  color: var(--color-third);
  font-weight: normal;
}

h2 { 
  font-size: var(--h1-size); 
  text-decoration: none;
  font-family: var(--family);
  color: var(--color-third);
  font-weight: normal;
}

.app {
  background: var(--color-third);
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app::-webkit-scrollbar {
  display: none;
}

.content-container {
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/**======================
 *    NAVBAR SECTION
 *========================**/
.navbar {
  margin: 0 auto;
  display: flex;
  padding: var(--g-padding);
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background: var(--color-forth);
}

.navbar h1 {
  margin: 0;
  /* padding: 10px; */
  line-height: 5vh;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background: var(--color-third);
  box-shadow: 0 0 10px var(--color-third);
  color: #E0E0E0;
}

.navbar path {
  color: var(--color-forth);
}



/**======================
 *    TOOLBAR SECTION
 *========================**/
.toolbar {
  margin: 0px;
  padding: 0 0 5% 0;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
  background: var(--color-forth);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.toolbar h1 {
  margin: 1vh;
  padding: 5px;
}

.toolbar path {
  color: var(--color-third);
}

/**======================
 *    QUICK STATS SECTION
 *========================**/
 .quick-stats {
  z-index: 10000;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-forth);
  padding-bottom: 5%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.quick-stats .top-container {
  margin: 1vw auto;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}

.quick-stats img {
  background: rgb(53, 53, 53);
  margin: 1vh auto;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  box-shadow: 0px 2px 11px 3px #635547;
}


.name-rank {
  margin: 5% 6vw 5% 0;
}

.name-rank .name-h {
  margin: 1vw auto;
  font-size: 3vh;
  text-align: left; 
  font-weight: bold;
  font-family: 'Montserrat-black';
}

.name-rank .rank {
  margin: 1vw auto;
  text-align: left; 
  font-weight: normal;
  font-family: 'Montserrat';
  font-size: 0.5em; 
  margin-top: 10%;
}

.name-rank .rank span {
  font-weight: bold;
}

.name-rank .progress-bar {
  margin: 1vw auto;
  width: 100%;
  height: 3vh;
  height: auto;
  justify-content: start;
  background: #FF872E;
  border-radius: 3px;
}

.name-rank .progress {
  background: #FD2072;
  height: 100%;
  border-radius: 3px;
  font-weight: normal;
  font-family: 'Montserrat';
  font-size: 0.5em; 
}

.quick-stats .bottom-container {
  margin: 1vw;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}

.bottom-container div{
  margin: 0 2vw;
  padding: 0;
}

.bottom-container .stats{
  text-align: center;
  margin: 1vh auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.stats h1 {
  font-weight: bold;
  font-family: 'Montserrat-black';
  font-size: 1.4em;
}

.stats span {
  font-weight: normal;
  font-family: 'Montserrat';
  font-size: 0.5em; 
  margin-top: 10%;
}

/**======================
 *    HOT KEYS
 *========================**/
 .grid-container {
  overflow: visible;
   background: var(--color-third);
   z-index: -10000;
   height:max-content;
   width: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 10% 2% 2% 2%;
   margin-bottom: 10vh;
 }
 .grid-item {
  overflow: visible;
  background: rgb(163, 28, 28);
  height: max-content;
  margin: 25% 5% 5% 5%;
  padding: 5%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  background-color: var(--color-forth);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 50px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 10px var(--color-third);
}

.grid-icon-container{
  overflow: visible;
  background: none;
  width: 100%;
}

.emoji-container{
  position: relative;
  padding: 0;
  margin: -35% 0% 0% -15px;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #e0e0e00f;
}

.emoji-icon{ 
  position: absolute;
  background: none;
  font-size: 3.5em;
  line-height: normal;
  transform: translate(-50%, -50%); 
  top: 50%;
  left: 50%;
}

.grid-item h1 {
  font-weight: bold;
  font-family: 'Montserrat-black';
  font-size: 1.4em;
  text-align: left;
}

.add-emoji {
  font-weight: bold;
  font-family: 'Montserrat-black';
  font-size: 2.5em;
}


/**======================
 *    CALANDER
 *========================**/
 .calander-container {
  background: rgb(129, 94, 62);
  height: auto;
  width: auto;
  padding: 10% 2% 20% 2%;

}

/**======================
 *    BODY - Graph
 *========================**/
 .graph-container {
  background: var(--color-forth);
  height: auto;
  width: auto;
  padding: 5% 2% 5% 2%;

}

.graph-header-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
  background: var(--color-forth);
}

.graph-header-text h1 {
  font-weight: bold;
  font-family: 'Montserrat-black';
  font-size: 3.4em;
  color: var(--color-third);
}

.graph-header-text span {
  font-weight: normal;
  font-family: 'Montserrat';
  font-size: 1em; 
  margin-bottom: 2.2%;
  color: var(--color-third);
}

/**======================
 *    BODY - Stats
 *========================**/
 .body-quickstats {
  z-index: 10000;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-forth);
  padding-bottom: 5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.body-quickstats  .bottom-container {
  margin: 1vw;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  background: none;
}

.bottom-container div{
  margin: 0 2vw;
  padding: 0;
  width: 50%;
}

.bottom-container .stats{
  text-align: center;
  margin: 1vh auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/**======================
 *    SLIDER
 *========================**/
 .slide {
  z-index: -100;
  height: 0;
  display: none;
}


.slide-open {
  z-index: 100000;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: max-content;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--color-forth);
  padding-bottom: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 1px -3px 15px 2px var(--color-third)
}

.slider-header {
  margin: 0 auto;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: none;
}

.slider-header div {
  margin: 3%;
  width: 35%;
  height: 2vh;
  background: var(--color-third);
  border-radius: 10px;
}

/**======================
 *    SSEARCH FIELD
 *========================**/
 .search {
   width: 100%;
   margin-top: 5%;
 }

 .search form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}


 /**    SLIDER - Container
 /**  ========================**/
 .slider-pr {
  margin: 8vh auto;
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: none;
}


 .slider-container {
  margin: 0 auto;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: none;
}

.new-pr {
  margin: 5vh auto ;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background: none;
}

.pr-item {
  /* border: 5px, solid, black; */
  margin: 5px;
  padding: 5% 0;
  width: 33%;
  height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background: none;
  overflow-x: hidden;
}

.pr-item input {
  width: 80%;
}

.pr-item h1 {
  font-size: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  font-weight: bold;
  font-family: 'Montserrat-black';
  font-size: 1.4em;
}

.pr-item p {
  font-weight: normal;
  font-family: 'Montserrat';
  font-size: 0.2em;
  margin-bottom: -10%;
}

/**======================
 *   FORM 
 *========================**/
input[type=text], input[type=number] {
  border: none;
  height: 4vh;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Montserrat-black';
  text-align: center;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid var(--color-third);
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.048);
  -webkit-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=number]:focus , input[type=text]:focus {
  border: none;
  border-bottom: 2px solid red;
  background-color: rgb(146, 146, 146);
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #f4a582;
  border: none;
  font-size: 1em;
  color: var(--color-third);
  border-radius: 10px;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}


/**======================
 *   UserFeed 
 *========================**/

 .user-wall {
  margin: 1vh auto 7vh auto;
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content:flex-start;
  flex-wrap: wrap;
  width: 100%;
  background: none;
 }

 .wall-post {
  position: relative;
  margin: 1px auto;
  background: rgb(255 196 1);
  width: 33%;
  height: 15vh;
  padding: 0px 0;
 }

 .post-type{
   position: absolute;
   left: 0%;
   margin: 1vh;
   height: 4vh;
   width: 4vh;
   border-radius: 50%;
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: center;
 }

 .wall-post .thumbnail {
  margin: 0 auto;
  padding: 0px 0;
  background: rgb(255 167 104);
  width: 100%;
  height: 100%;
 }


/**======================
 *  Wall Feed 
 *========================**/

 .feed {
  margin: 0 auto 7vh auto;
  padding: 0px 0;
  background: none;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
  flex-wrap: wrap;
 }

 .post {
  margin: 1vh auto;
  padding: 1px 0;
  width: 100%;
  height: 70vh;
  background: var(--color-forth);
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
 }

 .post .post-header {
  margin: 1vh 0;
  padding: 0px 0;
  width: 100%;
  height: auto;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
 }

 .post-profile-img {
  margin: 0 1vh;
  width: auto;
  height: auto;
  border-radius: 50%;
 }

 .post-header-text {
  margin: 1vh 0;
  padding: 0px 0;
  width: 100%;
  height: auto;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.post-header-text-handle {
  font-size: 1em;
  font-family: 'Montserrat-black';
  color: var(--color-third);
}

.post-header-text-location {
  font-size: 0.7em;
  font-family: 'Montserrat';
  color: var(--color-third);
}

.post-source {
  margin: 0;
  padding: 0px 0;
  width: 100%;
  height: 35vh;
  background: rgb(253 159 117);
}

.post-tabs {
  margin: 0;
  padding: 0px 0;
  width: 100%;
  height: 6vh;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;

}

.post-tabs div {
  margin: 0 1vh;
  width: 10%;
  height: auto;
  font-family: 'Montserrat-black';
}

.post-tabs path {
  color: var(--color-third);
}

.post-stats {
  margin: 0vh;
  padding: 1vh 0;
  width: 100%;
  height: 2vh;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  border-bottom: 1px solid #00000033;
}

.post-stats div {
  margin: 0 2vh;
  height: auto;
}

.post-comments {
  margin: 1% 0;
  padding: 0px 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.post-comment-section {
  margin: 1% 0;
  padding: 0px 0;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.user-comment-row {
  margin: 1% 0% 0 0%;
  padding: 0px 0;
  width: 100%;
  height: 2.5vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.username-comment {
  margin: auto 3%;
  width: 30%;
}

.username-comment h5 {
  /* margin: auto 5%; */
  font-size: 0.5em;
  font-family: 'Montserrat';
  font-weight: bold;
}

.user-comment {
  width: 30%;
  overflow-x: hidden;
  font-size: 0.5em;
}

.like-comment {
  position: absolute;
  right: 0;
  margin: auto 5%;
  font-size: 0.5em;
  height: 1vh;
  width: 1vh;
  background: rgb(253, 130, 130);
  border-radius: 50%;
}

.post-comment-form {
  margin: auto 4%;
  margin-top: 1.5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.post-comment-form input[type=textarea] {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(173, 173, 173);
  background-color: var(--color-forth);
  -webkit-appearance: none;
  border-radius: 0;
}

.post-comment-form  input[type=submit] {
  background-color: #ff7135;
  width: 30%;
  border: none;
  font-size: 1em;
  color: var(--color-third);
  border-radius: 10px;
  padding: 2px 25px;
  text-decoration: none;
  margin: 0px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}


/**======================
 *  Wall Feed 
 *========================**/

.auth-screen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.signin-card form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.signin-card input{
  width: 100%;
  margin: 5% auto;
}

.signin-card input[type=text] {
  padding: 1vh 0;
  border: none;
  border-bottom: 1px solid rgba(173, 173, 173, 0.151);
  background: none;
  height: 4vh;
  font-weight: normal;
  font-size: 1.2em;
  font-family: 'Montserrat';
  text-align: left;
  color: var(--color-forth);
  -webkit-appearance: none;
  border-radius: 0;
}

.signin-card input[type=submit] {
  background-color: #ff7135;
  width: 100%;
  border: none;
  margin: 4vh 0;
  font-size: 1em;
  color: var(--color-third);
  border-radius: 10px;
  padding: 1vh 25px;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}

.signup-link {
  color: #ff872e;
  font-size: 0.7em;
}

.signin-card span {
  color: var(--color-forth);
  font-size: 0.7em;
  position: absolute;
  bottom: 5vh;
}