html {
  --family: 'Courier New', Courier, monospace;
  --h1-size: 2vh;
  --text-size: 2vh;
  --color-primary: white;
  --color-secondary: black;
  --color-third:  rgb(49, 49, 49);
  --color-foruth: grey;
  --color-accent: red;
  --g-padding: 3vh;
}

* {
  margin: 0;
  background-color: var(--color-primary);
  text-decoration: none;
  font-family: var(--family);
  color: var(--color-secondary);
  overflow-x: hidden;
}

h1 { font-size: var(--h1-size); }

.app {
  background: rgb(160, 136, 2);
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content-container {
  overflow-y: scroll ;
}

/**======================
 *    NAVBAR SECTION
 *========================**/
.navbar {
  margin: 0 auto;
  display: flex;
  padding: var(--g-padding);
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background: rgb(2, 160, 160);
}

.navbar h1 {
  margin: 0;
  padding: 10px;
}

/**======================
 *    TOOLBAR SECTION
 *========================**/
.toolbar {
  margin: 0px;
  padding: 0;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  background: rgb(2, 160, 160);
}

.toolbar h1 {
  margin: var(--g-padding);;
  padding: 5px;
}


/**======================
 *    QUICK STATS SECTION
 *========================**/
 .quick-stats {
  z-index: 10000;
  margin: 0px;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(160, 34, 2);
  padding-bottom: 5%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.quick-stats .top-container {
  margin: 1vw auto;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(47, 160, 2);
}

.quick-stats img {
  background: rgb(2, 84, 160);
  margin: 1vh auto;
  height: 40px;
  width: 40px;
}

.name-rank {
  margin: 5% 2vw 5% 0;
}

.name-rank .name-h {
  margin: 1vw auto;
  font-size: 3vh;
  text-align: left; 
}

.name-rank .rank {
  margin: 1vw auto;
  font-size: 2vh;
  text-align: left; 
}

.name-rank .progress-bar {
  margin: 1vw auto;
  width: 100%;
  height: auto;
  justify-content: start;
  background: rgb(240, 128, 225);
  border-radius: 3px;
}

.name-rank .progress {
  margin: 1vw;
  margin-left: 1vw;
  background: lightcoral;
  border-radius: 3px;
}

.quick-stats .bottom-container {
  margin: 1vw;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: rgb(47, 160, 2);
}

.bottom-container div{
  margin: 0 2vw;
  padding: 0;
}

.bottom-container .stats{
  text-align: center;
  margin: 1vh auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

/**======================
 *    HOT KEYS
 *========================**/
 .grid-container {
  overflow: visible;
   background: rgb(95, 129, 62);
   z-index: -10000;
   height:max-content;
   width: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 10% 2% 2% 2%;
   margin-top: 0vh;
 }
 .grid-item {
  overflow: visible;
  background: rgb(163, 28, 28);
  height: max-content;
  margin: 25% 5% 5% 5%;
  padding: 5%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
}

.grid-icon-container{
  overflow: visible;
  background: none;
  width: 100%;
}

.emoji-container{
  position: relative;
  padding: 0;
  margin: -35% 0% 0% -15px;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background-color: #e0e0e00f;
}

.emoji-icon{ 
  position: absolute;
  background: none;
  font-size: 5vh;
  line-height: normal;
  transform: translate(-50%, -50%); 
  top: 50%;
  left: 50%;
}

/**======================
 *    CALANDER
 *========================**/
 .calander-container {
  background: rgb(129, 94, 62);
  height: 100px;;
  width: auto;
  padding: 10% 2% 2% 2%;

}